# A version - feature/conflict-a
# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.iml
/.idea_custom/
.vscode/settings.json

# Node
node_modules/ # A
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
build-output/

# React Native / Metro
*.jsbundle
**/android/build/
**/ios/build/
**/.expo/
.custom-metro/